body {
  /* la css du body est a revoir, la c'est comme la video */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(107, 106, 106);
}

#banderolle {
  width: 600px;
  overflow: hidden;
  border: 2px solid black;
}

.images {
  display: flex;
  animation-duration: 20s;
  animation-name: imagesBande;
  animation-iteration-count: infinite;
}

@keyframes imagesBande {
  0% {
    transform: translateX(0); /*image 1*/
  }
  25% {
    transform: translateX(-1000px); /*image 2*/
  }
  50% {
    transform: translateX(-2000px); /*image 3*/
  }
  75% {
    transform: translateX(-3000px); /*image 4*/
  }
  100% {
    transform: translateX(0); /*image 1*/
  }
}
