body {
  /* la css du body est a revoir, la c'est comme la video */
  background-color: rgb(235, 233, 233);
}

/*element de la page d'accueil*/
#boutonAcceuil {
  text-align: center;
}

#aide {
  position: bottom;
  text-align: center;
}
/*sauf la banderolle qui a sa propre css*/

/*element de la page agence*/
#boutonAgence {
  text-align: left;
  position: relative;
  left: 10px;
}

.imageAgence {
  position: relative;
  top: 0;
  right: 0;
}

#textAgence {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#banderolle {
  width: 600px;
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 200px;
  /*border: 2px solid black;*/
}

.images {
  display: flex;
  animation-duration: 20s;
  animation-name: imagesBande;
  animation-iteration-count: infinite;
}

@keyframes imagesBande {
  0% {
    transform: translateX(0); /*image 1*/
  }
  25% {
    transform: translateX(-600px); /*image 2*/
  }
  50% {
    transform: translateX(-1200px); /*image 3*/
  }
  75% {
    transform: translateX(-1800px); /*image 4*/
  }
  100% {
    transform: translateX(0); /*image 1*/
  }
}
