body {
  /* la css du body est a revoir, la c'est comme la video */
  background-color: rgb(235, 233, 233);
}

/*element de la page d'accueil*/
#boutonAcceuil {
  text-align: center;
}

#aide {
  position: bottom;
  text-align: center;
}
/*sauf la banderolle qui a sa propre css*/

/*element de la page agence*/
#boutonAgence {
  text-align: left;
  position: relative;
  left: 10px;
}

.imageAgence {
  position: relative;
  top: 0;
  right: 0;
}

#textAgence {
  justify-content: center;
  align-items: center;
  height: 100vh;
}
